@define-color accent_color @brown_3;
@define-color accent_bg_color @brown_4;
@define-color card_bg_color alpha( mix(white, @brown_2, 0.2), 0.6);
@define-color popover_bg_color mix(white, @brown_2, 0.2);

window {
  background: image(alpha(white, 0.25)),
              center url("resource:///com/github/medeotl/Wastepyper/assets/paper-light.png");
}

row.new-task {
  padding: 0;
}

row.new-task entry {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-width: 0;
  padding-left: 12px;
  padding-right: 12px;
  min-height: 50px;
}

row.new-task entry:dir(ltr) {
  padding-left: 18px;
}

row.new-task entry:dir(rtl) {
  padding-right: 18px;
}
